/* Основные стили сайта */

:root {
  /* BEGIN: Общие базовые переменные */
  --box-sizing-base: border-box;
  --breakpoint-base: 1200px;
  /* END: Общие базовые переменные */

  /* BEGIN: Базовые переменные цветов */
  --color-white: #fff;
  --color-black: #000;
  --color-primary: var(--color-white);
  --color-secondary: #1b1919;
  --color-accent: #545050;
  --color-base: var(--color-primary);
  /* ENG: Базовые переменные цветов */

  /* BEGIN: Базовые переменные шрифтов */
  --font-family-primary: "Fira Sans Condensed", arial, sans-serif;
  --font-family-secondary: oswald, arial, sans-serif;
  --font-family-base: var(--font-family-primary);
  --font-size-root: 10px;
  --font-size-base: 1.8rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-base: var(--font-weight-normal);
  --font-style-base: normal;
  --line-height-xs: 0.9;
  --line-height-md: 1;
  --line-height-normal: normal;
  --line-height-base: var(--line-height-normal);
  --text-align-base: left;
  /* END: Базовые переменные шрифтов */

  /* BEGIN: Переменные body */
  --body-font-family: var(--font-family-base);
  --body-font-size: var(--font-size-base);
  --body-font-weight: var(--font-weight-base);
  --body-font-style: var(--font-style-base);
  --body-line-height: var(--line-height-base);
  --body-color: var(--color-base);
  --body-bg-color: var(--color-secondary);
  /* END: Переменные body */

  /* BEGIN: Переменные заголовков */
  --headings-font-family: var(--font-family-secondary);
  --headings-font-size: 3rem;
  --headings-font-weight: var(--font-weight-bold);
  --headings-line-height: var(--line-height-base);
  --headings-text-transform: uppercase;
  --headings-color: var(--color-base);
  /* END: Переменные заголовков */

  /* BEGIN: Переменные h1 */
  --h1-font-size: 7.5rem;
  --h1-line-height: 0.94;
  /* END: Переменные h1 */

  /* BEGIN: Переменные h2 */
  --h2-font-size: 3rem;
  --h2-line-height: var(--line-height-md);
  /* END: Переменные h2 */
}

/* BEGIN: Общие и вспомогательные стили */

*,
*::before,
*::after {
  box-sizing: var(--box-sizing-base);
}

html {
  font-size: var(--font-size-root);
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  line-height: var(--body-line-height);
  background-color: var(--body-bg-color);
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: grid;
  grid-template-columns: minmax(0, 711px) minmax(0, 399px);
  align-items: end;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  inline-size: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(50%);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
/* END: Общие и вспомогательные стили */

/* BEGIN: Стили секции Result */

.result {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.result__video-container {
  position: relative;
  margin: 0 0 16px;
  padding: 0;
  inline-size: 100%;
  block-size: 386px;
}

.result__video {
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/* BEGIN: Стили формы поиска */

.search-form {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  align-items: start;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.search-form__fieldset {
  display: block;
  margin: 0;
  border: none;
  padding: 0;
}

.search-form__fieldset-title {
  margin: 0 0 5px;
  padding: 0;
  color: var(--headings-color);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  text-transform: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.search-form__textfield {
  --form-field-color: var(--color-base);
  --form-placeholder-color: rgba(255 255 255 / 0.7);
  display: flex;
  margin: 0;
  border: none;
  border-block-start: 1px solid var(--form-field-color);
  border-block-end: 1px solid var(--form-field-color);
  padding: 2px 4px 2px 0;
  color: var(--form-field-color);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  background-color: transparent;
  inline-size: 100%;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: var(--form-placeholder-color);
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.search-form__checkbox {
  margin: 0;
  padding: 0;
}

.search-form__pseudo-checkbox {
  --form-checkbox-size: 19px;
  --form-checkbox-color: var(--color-base);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 1px solid var(--form-checkbox-color);
  padding: 1px;
  cursor: pointer;
  inline-size: var(--form-checkbox-size);
  block-size: var(--form-checkbox-size);
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  opacity: 0;
  background-color: currentColor;
  inline-size: 100%;
  block-size: 100%;
}

.search-form__label-text {
  margin: 0;
  padding: 0;
}

.search-form__label:has(.search-form__checkbox:hover) {
  cursor: pointer;
}

.search-form__checkbox:hover ~ .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

/* BEGIN: Стили кнопки */

.button {
  --button-font-size: var(--font-size-base);
  --button-font-weight: var(--font-weight-bold);
  --button-line-height: var(--line-height-base);
  --button-text-align: center;
  --button-color: var(--color-base);
  --button-bg-color: transparent;
  --button-border: 1px solid currentColor;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: var(--button-border);
  padding: 5px 72.6px;
  color: var(--button-color);
  font-family: var(--body-font-family);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  text-align: var(--button-text-align);
  text-transform: var(--button-text-transform);
  background-color: var(--button-bg-color);
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.button:active {
  --button-bg-color: var(--color-accent);
}

.search-form__submit-button {
  align-self: end;
}

.more-button {
  inline-size: 100%;
}

/* END: Стили кнопки */

/* END: Стили формы поиска */

/* END: Стили секции Result */

/* BEGIN: Стили секции Details */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 0;
  padding: 0;
  block-size: 100%;
}

.title {
  margin: 0;
  padding: 0;
  color: var(--headings-color);
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  text-transform: var(--headings-text-transform);
}

.content__accent {
  --accent-color: var(--color-accent);
  color: var(--accent-color);
}

.content__list-container {
  position: relative;
  display: grid;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0 3px 3px 2px;
  overflow: auto;
  inline-size: 100%;
  block-size: 298px;
}

.content__list {
  display: grid;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.content__list-item {
  margin: 0;
  padding: 0;
}

/* BEGIN: Стили Card */

.content__card-link {
  --card-link-color: var(--color-primary);
  --card-link-bg-color: transparent;
  display: block;
  margin: 0;
  padding: 0;
  color: var(--card-link-color);
  text-decoration: none;
  background-color: var(--card-link-bg-color);
  cursor: pointer;
  inline-size: 100%;
}

.content__card-link_current {
  --card-link-bg-color: var(--color-accent);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: -1px;
}

.content__card-link:active {
  --card-link-bg-color: var(--color-accent);
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: start;
  column-gap: 4px;
  margin: 0;
  padding: 0;
  inline-size: 100%;
}

.content__video-card-description-container {
  display: block;
  margin: 0;
  padding: 2px 0 0;
  overflow: hidden;
}

.content__video-card-title {
  margin: 0 0 5px;
  padding: 0;
  overflow: hidden;
  color: var(--headings-color);
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  text-transform: var(--headings-text-transform);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1.62rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.content__video-card-thumbnail {
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
  min-inline-size: 194px;
  inline-size: 100%;
  block-size: 103px;
}

/* END: Стили Card */

/* END: Стили секции Details */
