/* Основные стили сайта */

:root {
  /* BEGIN: Общие базовые переменные */
  --box-sizing-base: border-box;
  --breakpoint-base: 1200px;
  /* END: Общие базовые переменные */

  /* BEGIN: Базовые переменные цветов */
  --color-white: #fff;
  --color-black: #000;
  --color-primary: var(--color-white);
  --color-secondary: #1b1919;
  --color-accent: #545050;
  --color-base: var(--color-primary);
  /* ENG: Базовые переменные цветов */

  /* BEGIN: Базовые переменные шрифтов */
  --font-family-primary: "Fira Sans Condensed", Arial, sans-serif;
  --font-family-secondary: Oswald, Arial, sans-serif;
  --font-family-base: var(--font-family-primary);
  --font-size-root: 10px;
  --font-size-base: 1.8rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-base: var(--font-weight-normal);
  --font-style-base: normal;
  --line-height-xs: 0.9;
  --line-height-normal: normal;
  --line-height-base: var(--line-height-normal);
  --text-align-base: left;
  /* END: Базовые переменные шрифтов */

  /* BEGIN: Переменные body */
  --body-font-family: var(--font-family-base);
  --body-font-size: var(--font-size-base);
  --body-font-weight: var(--font-weight-base);
  --body-font-style: var(--font-style-base);
  --body-line-height: var(--line-height-base);
  --body-color: var(--color-base);
  --body-bg-color: var(--color-secondary);
  /* END: Переменные body */

  /* BEGIN: Переменные заголовков */
  --headings-font-family: var(--font-family-secondary);
  --headings-font-size: 3rem;
  --headings-font-weight: var(--font-weight-bold);
  --headings-line-height: var(--line-height-base);
  --headings-text-transform: uppercase;
  --headings-color: var(--color-base);
  /* END: Переменные заголовков */

  /* BEGIN: Переменные h1 */
  --h1-font-size: 7.5rem;
  --h1-line-height: 0.94;
  /* END: Переменные h1 */

  /* BEGIN: Переменные h2 */
  --h2-font-size: 3rem;
  /* END: Переменные h2 */
}

/* BEGIN: Общие и вспомогательные стили */
*,
*::before,
*::after {
  box-sizing: var(--box-sizing-base);
}

html {
  font-size: var(--font-size-root);
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  line-height: var(--body-line-height);
  background-color: var(--body-bg-color);
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 30px;
  margin: 0;
  padding: 133px 30px;
  inline-size: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(50%);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
/* END: Общие и вспомогательные стили */

/* BEGIN: Стили секции Result */
.result {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.result__video-container {
  margin: 0 0 16px 0;
  padding: 0;
  inline-size: 100%;
}

.result__video {
  display: block;
  margin: 0;
  padding: 0;
  inline-size: 100%;
}

/* BEGIN: Стили формы поиска */
.search-form {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
  margin: 0;
  padding: 0;
}

.search-form__fieldset {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
}

.search-form__fieldset-title {
  margin: 0 0 5px 0;
  padding: 0;
  color: var(--headings-color);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  text-transform: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.search-form__checkbox {
  margin: 0;
  padding: 0;
}

.search-form__label {
  --search-form-label-color: var(--color-base);
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.search-form__pseudo-checkbox {
  --search-form-pseudo-checkbox-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--search-form-label-color);
  cursor: pointer;
  inline-size: var(--search-form-pseudo-checkbox-size);
  block-size: var(--search-form-pseudo-checkbox-size);
}

.search-form__pseudo-checkbox::after {
  display: block;
  background-color: currentColor;
  inline-size: calc(var(--search-form-pseudo-checkbox-size) - 4px);
  block-size: calc(var(--search-form-pseudo-checkbox-size) - 4px);
}

.search-form__label-text {
  margin: 0;
  padding: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
}

.search-form__checkbox:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__checkbox:focus-visible {
  outline: 1px solid currentColor;
}

/* BEGIN: Стили кнопки */
.button {
  --button-font-size: var(--font-size-base);
  --button-font-weight: var(--font-weight-bold);
  --button-line-height: var(--line-height-base);
  --button-text-align: center;
  --button-color: var(--color-base);
  --button-bg-color: transparent;
  --button-border: 1px solid currentColor;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: var(--button-border);
  padding: 6px 12px;
  color: var(--button-color);
  font-family: var(--body-font-family);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  text-align: var(--button-text-align);
  text-transform: var(--button-text-transform);
  background-color: var(--button-bg-color);
  cursor: pointer;
}
/* END: Стили кнопки */

/* END: Стили формы поиска */

/* END: Стили секции Result */

/* BEGIN: Стили секции Details */
.content__details {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  gap: 6px;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
  padding: 0;
  color: var(--headings-color);
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  text-transform: var(--headings-text-transform);
}

.content__accent {
  --accent-color: var(--color-accent);
  color: var(--accent-color);
}

.content__list-container {
  display: grid;
  gap: 26px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  inline-size: 100%;
  max-block-size: 298px;
}

.content__list {
  display: grid;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.content__item {
  margin: 0;
  padding: 0;
}

/* BEGIN: Стили Card */
.content__card-link {
  --card-link-color: var(--color-primary);
  --card-link-active-bg-color: var(--color-accent);
  display: block;
  margin: 0;
  padding: 0;
  color: var(--card-link-color);
  text-decoration: none;
  cursor: pointer;
  inline-size: 100%;
}

.content__card-link:active {
  background-color: var(--card-link-active-bg-color);
}

.content__video-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 5px;
  margin: 0;
  padding: 0;
  inline-size: 100%;
}

.content__video-card-description-container {
  display: block;
  margin: 0;
  padding: 0;
}

.content__video-card-title {
  margin: 0 0 6px 0;
  padding: 0;
  overflow: hidden;
  color: var(--headings-color);
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  text-transform: var(--headings-text-transform);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  margin: 0;
  padding: 0;
}

.content__video-card-thumbnail {
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}
/* END: Стили Card */

/* END: Стили секции Details */
